// Menu Button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;
    .btn-line {
        width: 40px;
        height: 4px;
        margin: 0 0 5px 0;
        border-radius: 3px;
        background: $accent-color; //set-text-color($primary-color);
        @include easeOut;
        &:nth-child(2) {
            width: 30px;
            margin-left: 5px;
        }
        &:nth-child(1) {
            width: 20px;
            margin-left: 10px;
        }
    } // Rotate Into X With Menu Lines
    &.close {
        transform: rotate(180deg);
        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 7px) scaleX(2);
            } // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            } // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

// Menu Overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%; // opacity: 0.9;
    visibility: hidden;
    &.show {
        visibility: visible;
    }
    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }
    &-nav {
        margin: 0;
        padding: 0;
        background: rgba($primary-color, 0.9);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;
        &.show {
            //Slide in from top
            transform: translate3d(0, 0, 0);
        }
    } // Branding side
    &-branding {
        background: rgba($primary-color, 0.5);
        transform: translate3d(0, 100%, 0);
        @include easeOut;
        &.show {
            //Slide in from bottom
            transform: translate3d(0, 0, 0);
        }
        .portrait {
            width: 250px;
            height: 250px;
            background: url("../img/portrait_dani.jpg");
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
    }
    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;
        &.show {
            //Slide in from right
            transform: translate3d(0, 0, 0); //hover effect
            &.current>a {
                color: $secondary-color;
            }
        }
        .nav-link {
            display: inline-block;
            position: relative;
            font-size: 30px;
            text-transform: uppercase;
            padding: 1rem 1.2rem 0 1.2rem;
            font-weight: 700;
            color: set-text-color($primary-color);
            text-decoration: none;
            @include easeOut;
            &::before {
                content: "";
                position: absolute;
                bottom: 30%;
                left: 0px;
                width: 100%;
                height: 15px;
                background: $accent-color;
                display: block;
                z-index: -1;
                -webkit-transform-origin: left top;
                -ms-transform-origin: left top;
                transform-origin: left top;
                -webkit-transform: scale(0, 1);
                -ms-transform: scale(0, 1);
                transform: scale(0, 1);
                -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
                transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
            }
            &:hover::before {
                -webkit-transform-origin: right top;
                -ms-transform-origin: right top;
                transform-origin: right top;
                -webkit-transform: scale(1, 1);
                -ms-transform: scale(1, 1);
                transform: scale(1, 1);
            }
        }
    }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}