// Variables
$primary-color: #000;
$secondary-color: rgb(0, 132, 170);
$light-blue: #bee1f4;
$accent-color: rgb(233, 42, 85);
$light-pink: #fdacab;
$show-home-image: false;
$home-image: url(../videos/reel_2018_web.mp4);
$background-opacity: 0.8;
// Mixins
@mixin easeOut {
    transition: all 0.5s ease;
}

@mixin boxShadow {
    -webkit-box-shadow: 0px 10px 56px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 10px 56px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 10px 56px -4px rgba(0, 0, 0, 0.6);
}

@mixin insideBoxShadow {
    -webkit-box-shadow: inset -1px 0px 80px 0px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: inset -1px 0px 80px 0px rgba(0, 0, 0, 0.56);
    box-shadow: inset -1px 0px 80px 0px rgba(0, 0, 0, 0.56);
}

@mixin background {
    @if $show-home-image {
        &#bg-image {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba($primary-color, $background-opacity);
                z-index: -1;
            }
        }
    }
}

// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width: 1171px) {
        @content;
    }
} // Set Text Color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}