@import "vars";
@import "menu";
@import "buttons";
html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

#bg-image {
    @include background;
}

// Headings
.hidden {
    display: none;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 700;
    &.lg-heading {
        font-size: 6rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        font-weight: 400;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

#logo {
    width: 80px;
    margin-left: 45vw;
    margin-top: 1rem;
}

.logo-bg {
    width: 90px;
    height: 130px;
    left: 44.4vw;
    background-color: #000;
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.66);
    box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.66);
}

.fullscreen-vid-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
    & video {
        min-width: 100%;
        min-height: 100%;
    }
}

.vid-overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    background: $primary-color;
    z-index: -1;
    opacity: 0.75;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    .close-vid {
        position: absolute;
        z-index: 3;
        top: 20px;
        left: 50px;
        color: $accent-color;
    }
    &#home {
        overflow-x: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

// #reel {
//     position: absolute;
//     width: 100vw;
//     height: 100vh;
//     top: 2%;
//     left: 2%;
//     z-index: 2;
// }
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

    {
    opacity: 0;
}

// =======================      About Me Page --- CHANGE
#about-me {
    //background: $primary-color; // overflow-x: scroll; // overflow-y: hidden;
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "bioimage bio bio" "job1 job2 job3";
    grid-template-columns: repeat(3, 1fr);
}

// ====================        WORK PAGE
#work-bg-image {
    background-image: url(../img/bg_pic.jpg);
    background-attachment: fixed;
    background-size: cover;
} //background-position: center;
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($primary-color, 0.7);
    z-index: -1;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.thumb {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 5px solid $primary-color;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff url(../img/bg-grad.jpg) no-repeat center center;
    &:hover {
        border-color: $accent-color;
        @include easeOut;
    }
    & .mask,
    & .content {
        // width: 300px;
        height: 200px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
    }
    & .mask {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        background-color: rgba($light-blue, 0.7);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    & img {
        display: block;
        position: relative;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    & h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 14px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.8);
        margin: 10px 0 0 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    & p {
        font-family: Georgia, serif;
        font-style: italic;
        font-size: 12px;
        position: relative;
        color: #000;
        padding: 5px 10px 5px;
        text-align: center;
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -o-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    & a.info {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        padding: 7px 14px;
        background: $secondary-color;
        color: #fff;
        border-radius: 20px;
        text-transform: uppercase;
        -webkit-box-shadow: 0 0 1px #000;
        -moz-box-shadow: 0 0 1px #000;
        box-shadow: 0 0 1px #000;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        @include easeOut;
        &:hover {
            background: $accent-color;
        }
    }
    &:hover .mask {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
    &:hover h2,
    &:hover p,
    &:hover a.info {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.thumb:hover p {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.thumb:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.thumb:hover a.info {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

// ============================= Projects ==================
.proj-lightbox {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    transition: all 0.7s;
    max-height: 0;
    background: rgba($primary-color, 0.8);
    h3 {
        font-size: 3.5rem;
        text-align: center;
        margin-top: 50px;
    }
    h4 {
        font-size: 2.5rem;
        text-align: center;
    }
    img {
        margin: 0 auto;
        width: 100%;
    }
}

.show-project {
    max-height: 1200px;
}

// Footer
#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import "mobile";